<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingsu.JS</title>
</head>
<body>
<h1>Bingsu.js</h1>
{%- for datum in bingsu | sort(true, false, "date") -%}
 <h2>{{ datum.name  }}</h2>
 <span>Date: {{ datum.date  }} </span>
 <h3>Parties</h3>
 {%- for party in datum.party -%}
    <ul>
        <li>Name: {{ party.name }}</li>
        <li>Place: {{ party.place }}</li>
        <li>Url: <a href={{ party.url }} target="__blank">{{ party.url }}</a></li>
    </ul>
    {%- endfor -%}
{%- endfor -%}
</body>
</html>